streamlit
#utilities libraries

numpy 
pandas

#Facerecognition

scikit-learn
dlib-bin

setuptools<70.0.0
supabase
bcrypt
git+https://github.com/ageitgey/face_recognition_models
segno
pillow

#librosa #Audio files edit,cuts ,loads,modifies
resemblyzer #embedding of audio and campare voice is same voice or not 